.modal-menu-header{
  display: flex;
  padding: 42px 0;
  padding-bottom: 25px;

  &__btn{
    padding: 0;
    transition: transform 0.5s, filter 0.7s;
  }

  &__btn:first-child{
    margin-right: 7%;
  }

  &__btn:last-child{
    margin-right: 5px;
  }

  &__btn:hover{
    transform: scale(1.1);
    filter: hue-rotate(-90deg);
  }

  &__logo {
    margin-right: auto;
  }
}

.modal-menu--visible .modal-menu-header{
  padding: 20px 0;
}
