.navbar{
  display: flex;
  margin-bottom: 25px;

  &__list {
    display: flex;
    list-style-type: none;
    margin:  0;
    padding: 0;
  }

  &__item {
    font-size: $text-size-default;
    color: $color-5;
    border-radius: 3px;
    border: 1px solid transparent;
    margin: 0 15px 5px;
    padding: 5px 20px;
    white-space: nowrap;
    cursor: pointer;
  }

  &__item--selected {
    border: 1px solid #B8FFEC;
    background-color: $color-3;
    cursor: default;
  }

  &__item--selected{
    button.navbar__btn{
      background-color: $color-3;
      cursor: default;
    }
  }

  &__item:hover{
    background-color: $color-3;
    border-color: #B8FFEC;
  }

  &__item:hover{
    button.navbar__btn{
      color: $color-4;
    }
  }
  
  &__item:hover {
    button.navbar__btn{
      background-color: $color-3;
    }
  }

  &__item--selected:hover{
    button.navbar__btn{
      color: $color-5;
    }
  }

  &__item--selected:active {
    background-color: $color-3;
  }

  &__item--selected:active {
    button.navbar__btn {
      background-color: $color-3;
      color: $color-5;
    }
  }
}

button.navbar__btn {
  color: $color-5;
}

@media (max-width: 1330px) {
  .navbar {
    overflow-x: auto;
  }
}
