.navbar{
  display: flex;
  margin-bottom: 25px;


  &__list {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin:  0;
    padding: 0;
  }

  &__item {
    border-radius: 3px;
    border: 1px solid transparent;
    margin: 0 15px 5px;
    padding: 5px 20px;
    white-space: nowrap;
    cursor: pointer;
  }

  &__item:hover {
    .navbar__btn{
      color: $color-hover-3;
    }
  }

  &__item--selected{
    border: 1px solid #B8FFEC;
    background-color: $color-3;
    cursor: default;
    .btn{
      cursor: default;
    }
  }
  &__item--selected:hover{
    .navbar__btn{
      color: $color-5;
    }
  }

  &__btn{
    font-size: $text-size-default;
    font-weight: 500;
    color: $color-5;
  }
}

@media (max-width: 1119px) {
  .navbar{
    overflow-x: auto;
    &__list{
      flex-wrap: nowrap;
    }
  }
}
