//background-color
$bg-color-main: #F8F8F8;

//text color
$text-color-main: #1B1C21;
$text-color-2:    #7E7E82;

//btn color
$btn-color-1: #FF3E79;

//color
$color-1: #FF3E79;
$color-2: #D9FFF5;
$color-3: #ffffff;
$color-4: #1B1C21;
$color-5: #7E7E82;
$color-6: #F8F8F8;

//color hover
$color-hover-1: gold;
$color-hover-2: #a6a6a6;

//font-size
$text-size-default: 16px;
$text-size-medium:  14px;
$text-size-small:   12px;

//font-family
$text-family-list: 'TT Lakes', 'Arial', 'Times New Roman', 'Helvetica';

//border-line
$border-line-1: 1px solid #D9FFF5;
