@import url('fonts.css');
@import url('normalize.css');

body {
  font-size: 20px;
  font-family: 'TT Lakes', 'Arial', 'Times New Roman', 'Helvetica';
  color: #1B1C21;

  background-color: #F8F8F8;
}

/*page header*/

.page-header {
  background-color: #FFFFFF;
  display: flex;
  height: 90px;
  border-bottom: 1px solid #B8FFEC;
}
.icons-block {
  display: flex;
  width: 100%;
  min-width: 320px;
}
.icons-block-1 {
  display: flex;
  width: 30%;
}
.icons-block-2 {
  display: flex;
  justify-content: flex-end;
  width: 70%;
}
.icon {
  align-self: center;
  margin-left: 15px;
}
.icons-block-1 .icon:first-child {
  margin-right: 20px;
}

.icons-block-2 .icon:nth-child(3) {
  margin-right: 20px;
}

.icons-block-2 .icon:last-child {
  margin-right: 25px;
}

.icon-with-line::before, .icon_logo-with_line::before{
  content: url('../img/icons/divider.svg');
  position: relative;
  top: -5px;
  right: 15px;
}

.icon:not(.icon_logo-with_line):hover {
  border-bottom: 1px solid #B8FFEC;
  cursor: pointer;
}

@media (max-width: 768px) {
  .icon_visibility_mode-2 {
    display: none;
  }
  .icons-block-1, .icons-block-2 {
    width: 50%;
  }
  .icons-block-1 {
    justify-content: flex-end;
  }
  .icons-block-2 {
    justify-content: flex-start;
  }
  .icon_logo-with_line::before {
    content: '';
  }
  .icon_logo-with_line {
    margin-left: 0;
    margin-right: 10px;
  }
  .icon-with-line::before {
    top: -5px;
    right: 10px;
  }
}

@media (max-width: 380px) {
  .icons-block-1, .icons-block-2 {
    justify-content: center;
  }
  .icons-block-2 .icon:last-child {
    margin-right: 15px;
  }
  .icons-block-1 .icon:first-child {
    margin-right: 15px;
  }
  .icon-with-line::before {
    top: -5px;
    right: 15px;
  }
}

/*content headers*/

.page-header {
  display: none;
}
.content-header-mob-ver {
  display: none;
}
.content-header-pc-ver {
  display: flex;
  width: 100%;
  height: 80px;
}
.content-header-pc-ver__title-box, .content-header-mob-ver__title-box {
  flex-grow: 1;
  padding-top: 5px;
}
.content-header-pc-ver__title, .content-header-mob-ver__title {
  font-size: 28px;
  margin: 0;
  margin-bottom: 30px;
}
.content-header-pc-ver__title::before, .content-header-mob-ver__title::before {
  content: url('../img/icons/highlight.svg');
  position: relative;
  top: 10px;
}

.buttons-block {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-grow: 1;
  font-size:  16px;
  font-weight: 500;
}

.buttons-block__icon {
   align-self: center;
   margin-left: 15px;
}

.buttons-block {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  flex-grow: 1;
  font-size:  16px;
  font-weight: 500;
 }

 .buttons-block__img {
   vertical-align: middle;
 }

 .buttons-block__icon:last-child {
   margin-right: 30px;
   margin-left:  30px;
 }

@media (max-width: 1120px) {
  .page-header, .content-header-mob-ver {
    display: flex;
  }
  .content-header-pc-ver {
    display: none;
  }
}

/*nav bar*/

.nav-bar {
  display: flex;
  margin-bottom: 25px;
}

.nav-bar__link-box {
  color: #7E7E82;
  border-radius: 3px;
  margin: 0 15px 5px;
  padding: 5px;
  white-space: nowrap;
}

.nav-bar__link {
  font-size: 16px;
  text-decoration: none;
  color: #1B1C21;
}

@media (max-width: 1150px) {
  .nav-bar {
    overflow-x: auto;
  }
}

.nav-bar__link-box:hover {
  background-color: white;
  border: 1px solid #e6e6e6;
}

.nav-bar__link:hover{
  cursor: pointer;
}

.nav-bar__link:active {
  color:  #7E7E82;
}
.nav-bar__link:visited {
  color:  #7E7E82;
}

.nav-bar__link-box_active-link {
  border: 1px solid #B8FFEC;
  background-color: white;
}

/*content*/

.content {
  float: left;
  width: 30%;
  min-width: 320px;
  margin-left: 15px;
  margin-right: 5%;
}

.content__text {
  font-size: 14px;
}

.content__link-to-full-article {
  margin-left:   35px;
  margin-bottom: 15px;
}
.content__link-to-full-article::before {
  content: url('../img/icons/icon.svg');
  position: relative;
  right: 10px;
}

.link-to-full-article__link {
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #1B1C21;
}
.link-to-full-article__link:hover {
  cursor: pointer;
  border-bottom: 1px solid #B8FFEC;
}
.link-to-full-article__link:active {
  color: #1B1C21;
}
.link-to-full-article__link:visited {
  color: #1B1C21;
}

.picture-block {
  margin-bottom: 15px;
  padding-top: 15px;
}
.picture-block__img {
  border-radius: 3px;
}
