@import url('fonts.css');
@import url('normalize.css');

body {
  font-family: 'TT Lakes', 'Arial', 'Times New Roman', 'Helvetica';
  font-size:  16px;
  color: #1B1C21;
}

/*common*/
.parag {
  padding: 0;
  margin:  0;
}

.btn {
  display: block;
  border: none;
  cursor: pointer;
  background-color: white;
}

.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.link {
  text-decoration: none;
}

.link, .link:visited, .link:active {
  color:  #1B1C21;
}

/*overay + modal + wrapper*/
.overlay {
  position: absolute;
  filter: blur(10px);
  z-index: -1;
  height: 100vh;
  width:  100vw;
}

.modal-menu {
  width:     320px;
  min-width: 320px;
  box-shadow: 15px 0 50px 0 rgba(14, 24, 80, 0.2);
}

.content-wrapper {
  width: 85%;
  margin: 0 auto;
}

/*header*/
.header {
  display: flex;
  padding: 15px 0 25px 0;
}

.header__btn {
  padding: 0;
  transition: transform 0.5s, filter 0.7s;
}

.header__btn:hover {
  transform: scale(1.1);
  filter: hue-rotate(-90deg);
}

.header__btn:first-child {
  margin-right: 7%;
}
.header__logo {
  margin-right: auto;
}
.header__btn:last-child {
  margin-right: 5px;
}

/*navbar*/
.gap-to-bottom {
  margin-bottom: 95%;
}

.navbar__item {
  position: relative;
  border-radius: 3px;
  cursor: pointer;
}

.navbar__link {
  display: block;
  font-size: inherit;
  font-weight: 500;
  padding: 15px 0;
}

.navbar__item_selected::before {
  position: absolute;
  content: url('../assets/icons/highlight.svg');
  top:  5px;
  left: -24px;
}

.navbar__item--selected .navbar__link {
  color: #7E7E82;
}

.navbar__item:hover {
  background-color: #e7fefa;
}

/*footer*/
.footer {
  padding-bottom: 30px;
}

.footer__buttons {
  display: flex;
  margin-bottom: 15px;
}

.buttons__btn {
  padding:         0;
  padding-left: 15px;
  transition: transform 0.5s, filter 0.7s;
}

.buttons__btn:first-child {
  padding-left: 0;
}

.buttons__btn:hover {
  transform: scale(0.9);
  filter: hue-rotate(-180deg);
}

.info__mail {
  font-size: inherit;
  font-weight: 500;
  margin-bottom: 15px;
}

.info__number {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.lang-switcher {
  display: flex;
}

.lang-switcher__btn {
  font-size: inherit;
  font-weight: 500;
  padding: 0;
  padding-left: 10px;
  transition: color 0.5s;
}

.lang-switcher__btn:first-child {
  padding-left: 0;
}

.lang-switcher__btn:hover {
  color: #41F6D7;
}

.lang-switcher__btn--active {
  color: #7E7E82;
}
